﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="mobile.master.cs" Inherits="WebDiary.StudyPortal.Mobile.Mobile" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>NetPRO</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"> 
    <link rel="stylesheet" href="//code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
    <%--<link href="../includes/css/pht-theme.min.css" rel="stylesheet" type="text/css" />--%>
    <link href="css/mobile.css" rel="stylesheet" type="text/css" />
    <link id="dynamicStyle" rel="stylesheet" type="text/css" />
	<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>	
    <script src="../includes/scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="//code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    <script src="resource.aspx"></script>    
    <asp:Literal ID="litScript" runat="server"></asp:Literal>
    <script src="scripts/app.js"></script>
</head> 
<body>
    <div data-role="page" id="<%# client_page_id %>" class="container">
	    <div data-role="header">
            <asp:ContentPlaceHolder ID="LeftToolbarPlaceHolder" runat="server" />
		    <h1>NetPRO</h1>
            <asp:ContentPlaceHolder ID="RightToolbarPlaceHolder" runat="server" />
	    </div>

	    <div data-role="content" class="body">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder" runat="server" />
        </div>

        <div class="footer">
	        <ul class="hr-list">
            <li>&copy; <%= DateTime.Now.Year %> <%= Resources.Resource.SMPHT%></li>
                <li>
                    <label ID="lblNetProVer" runat="server"/>
                </li>
                <li id="liStudyVer" runat="server">
                    <label ID="lblStudyVer" runat="server"/>
                </li>
                <li class="last">    
                    <a ID="lnkContactUs" runat="server" href="https://mystudy.phtstudy.com/ssa/pages/contact_us/" data-role="none" rel="external"/>
                </li>
	        </ul>
        </div>
    </div>
<script type="text/javascript">
    if ($('form#loginForm').length > 0) {
        validateLoginForm();
    }
    if ($('form#changePasswordForm').length > 0) {
        validateChangePasswordForm();
    }
    if ($('form#forgotPasswordForm').length > 0) {
        validateForgotPasswordForm();
    }
    if ($('form#resetPasswordForm').length > 0) {
        validateResetPasswordForm();
    }
</script>
</body>
</html>