#ChildACT {
    #CAC020_Q1, #CAC030_Q1,
    #CAC040_Q1, #CAC050_Q1 {
        img {
            height: 96px;
            padding: 1px;
            border: 1px solid #024e80;
        }
        .CustomRadioButton .vertical-buttons .btn-block
        {
            height : 100px !important;
        }
    }
    .CAC090_Q2 {
        position: absolute;
        bottom: 0;
    }
}
