﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ResourceStrings.aspx.cs" Inherits="WebDiary.StudyPortal.ResourceStrings" ContentType="application/javascript" %>
<asp:literal id="literalScript" runat="server"></asp:literal>