@baseUrl: '../../core/less';
@import (reference) '@{baseUrl}/mixins';
@import (reference) '@{baseUrl}/colors';
@import (reference) '@{baseUrl}/forms';

@import 'modules/modules';
@import 'ert';
@import 'layout/layout';
@import 'widgets/ltr/sidebar-user-info';
@import 'widgets/rtl/sidebar-user-info';

@nav-bar-height: 50px;

.navbar {
    height: @nav-bar-height;
    h4 {
        width: 100%;
        text-align: center;
    }
}

.table {
    border: solid 1px @grey;
    border-left: 0;
    border-right: 0;
    border-radius: 3px;
    margin-bottom: 30px;
}

table {
    width: 100%;
}

.scrollable {
    tbody {
        max-height : 440px;
        overflow-x: auto;
        display: block;
        tr {
            display: table;
            width: 100%;
            border-bottom: 1px solid #ddd;
            td {
                border-bottom: 0;
                border-top: 0;
            }
        }
    }
}

.sync-table table {
    width: 100%;
}

th {
    border-bottom: solid 2px @grey;
    span.fa {
        margin-left: 15px;
    }
}

th, td {
    padding: 5px;
}




/** Patient Login View **/
.info-box {
    padding: 20px;
    background: #eee;
    margin-bottom: 15px;
    p {
        width: 100%;
        text-align: center;
    }
}

/** Forgot PAssword Page **/
.forgot-password {
    input {
        width: 100%;
    }
    h3 {
        width: 100%;
        text-align: center;
    }
}

/** Home Styles **/
.info-box {
    button {
        width: 100%;
        margin-bottom: 5px;
    }
}

.admin {
    button {
        width: 100%;
        margin-bottom: 10px;
    }
}

.selected {
    background: @blue-300;
    color: #fff;
}

.btn-navigation {
    width: 45%;
}

.content-nopadding-nomargin {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

footer {
    margin-top: 20px;
}

input {
    padding: 2px;
    border: 1px solid @grey-dark;
}

// DE14683 - Remove outline from all inputs, and focused elements.
input,
select,
textarea {
    outline: none;
}

//DE15926 - Remove 'x' Input Decoration In Microsoft Edge
input::-ms-clear {
    display: none;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

/* VAS - These are not quite the same as the LogPad classes */
.HVAS {
    canvas, img {
        display          : block;
        width            : 100%;
        margin           : 0;
    }
}
/* margin between vas text labels and vas*/
.vas-label div p {
    margin-bottom : 5px;
    margin-top    : 5px;
}

/* left vas text label if labels are screen edge justified */
.vas-label-screenEdge .ui-block-a p {
    margin-right : 10%;
    text-align   : left;
}
/* right vas text label if labels are screen edge justified */
.vas-label-screenEdge .ui-block-b p {
    margin-left : 10%;
    text-align  : right;
}

/* Default vas pointer color*/
.vas-pointer {
    background-color : transparent;
    color            : #00ACE6;
}

/* This prevents double vas problem on JellyBean safari browser */
.vas-overflow-visible {
    overflow-x : visible;
}

#timeTravel {
    color: @white;
}

/* This aligns dd tags to right with 0 margin */
html[dir='rtl'] dd {
    margin-right: 0;
}
