/* Main css */
* { margin: 0; padding: 0; }

form, ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd
{
	margin: 0px;
	padding: 0px;
}

body
{
	background: url(../../img/interface/body-bg.gif) repeat-x;
	color: #454545;
	font: 75%/1.3 arial, helvetica, sans-serif;
	padding: 8px;
}

body.innerbody
{
    background: url() repeat-x;
}

a 
{
	/*color: #cc9711;*/
	color: #6D2E8C;
}

table 
{
    border-width: 0 0 0 0;
    border-collapse: collapse;
    border-spacing: 0;
}

td
{
    margin: 0;
    border-width: 0 0 0 0;
}

h1 
{
	font-size: 1.6em;
}

img 
{ 
    border: none;
    margin: 0px;
}

p 
{ 
    margin-bottom: 1em; 
}

input[type="text"], input[type="password"]
{
    width: 150px;
    padding: 0px 2px;
}

textarea
{
    padding: 0px 2px;
}

input[type="checkbox"] + label
{
    margin: 0 3px;
}

input[type="submit"], input[type="button"], input[type="reset"], button
{
    padding: 1px 5px;
}

hr
{
    margin-bottom: 1em;
}

/* FORMS - START */
.form-row 
{
    margin-bottom: .5em;
}

.form-empty-row td
{
    height:18px;
}

.form-row label 
{
	display: block;
	font-weight: bold;
}

.button-row 
{
	margin-bottom: 1em;
}

.fieldname
{
    font-size:14px;
    font-weight:bold;
}
.fieldvalue
{
    font-size:14px;
    font-weight:normal;
    font-style:italic;
}

.label
{
    font-size:12px;
    padding: 1px 3px;
    text-align: left;
    white-space: normal;
    font-weight: bold;
}

.field
{
    font-size: 12px;
}

.form-wrapper
{
    border-top:1px solid #E0E0E0;
    border-bottom:1px solid #E0E0E0;
    padding:10px 0 10px 5px;
}
/* FORMS - END */

.errors 
{
    border: 1px solid #ff3333;
	padding: 10px;
	margin-bottom: 1em;
	margin-top: 1em;
	color: #ff3333;
}
.errors ul
{
    margin-bottom: 0 !important;
}

.nb-errors 
{
    padding: 10px;
	margin-bottom: 1em;
	color: #ff3333;
}
	
#envelope 
{
	background-color: transparent;
	width: auto;
}

#header 
{
    min-height: 45px;
    width: 100%;
}

.bgImg
{
    position: relative; 
    top: 0px;
    left: 0px;
}

.ertLogo 
{
	position: absolute;
	top: 11px; 
	left: 11px;
}

.netProTrade
{
    position :absolute;
    top : 10px;
    left : 130px;
    font-size : 25px;
    color : #003c69;
    font-weight: normal;
}

#header ul.menu 
{
    color: #FFFFFF;
    top: 13px;
    right: 20px;
    position: absolute;
}

#header #constants li 
{
    list-style: none;
    display:inline;    
}
#header #constants li.seperator
{
    margin: 0 10px 0 10px;
}

#header #constants a, #header #constants span
{
    font-weight: bold;
    color:#FFF;
}

#content 
{
    background: #fff;
    padding: 0px;
    padding-top: 8px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
	
#content ul, #content ol 
{
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 1em;
}

#footer 
{
    text-align: center;
	border-top: 1px solid #ccc;
	font-size: .8em;
	overflow: hidden;
	margin-top:15px;
}

#footer ul
{
    margin-top: 15px;
	text-align: center;	
}

#footer li 
{
    display: inline;
	padding: 0 4px;
	border-right: 1px solid #454545;
}
		
#footer li.last 
{
	border: 0;
}
		
/* GATEWAY - START */
div.phtFormEnclosure    
{
    border: 1px solid #f1f1f1;
    padding: 4px 5px 10px 5px; 
    font-size: 12px;
    font-family: Arial, Sans-Serif;
    width: 420px;
}

div.phtFormEnclosureMargined    
{
    border: 1px solid #f1f1f1;
    padding: 4px 5px 10px 5px; 
    font-size: 12px;
    font-family: Arial, Sans-Serif;
    width: 420px;
    margin-top: 20px;
}
 
div.phtFormEnclosureHeader   
{
    border: none;
    border-bottom: 1px solid #f1f1f1;
    padding: 3px 5px 3px 5px;
    margin-bottom: 8px;
    font-weight: bold;
    background-color: #f1f1f1;
}

div.phtFormEnclosureFooter  
{
   text-align: right;
} 

table.phtFormEnclosureBody  
{
    padding: 0px 0px 0px 5px;
}  

.phtFormEnclosureBody 
{
    padding-top: 3px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-left: 0px;
    text-align: left;
    vertical-align: middle;
}

.phtFormControls
{ 
    text-align: center;
    vertical-align: middle;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 9px;
}

input.phtCheckboxVerticalFix /* corrects IE vertical cetnetring error */
{
    padding-bottom: 10px; /* value should be the height of the IE-generated checkbox*/
}

span.phtCallOutText
{
    font-size: 15px;
    font-weight: bold;
}

/* conditional button display classes*/
input.phtConditionalDisplayButton
{
    text-align: center;
    font-size: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.phtButtonOn 
{
    visibility: visible;
}

.phtButtonOff
{
    visibility: hidden;
}
    
/* styles associated with table displays */
.phtColumnItalic 
{
    font-style: italic;
}

.gwGrid {   
    width: 100%;   
    background-color: #fff;   
    margin: 5px 0 10px 0;   
    border: none;   
    border-collapse: collapse;   
}

.gwGrid td {   
    padding: 2px;   
    border: none;
}

/* GATEWAY - END */

.clear 
{
	clear: both;
}

/**** TEST CSS *****/
#page-content
{
    background: #fff;
    margin: 0px;
    margin-left: 150px;
    padding-top: 16px;
    padding-left: 16px;
}

#sidebar
{
    background: #f1f1f1;
    float: left;
    width: 150px;
    padding: 0px;
    margin: 0px;
    margin-right: 8px;
    text-align: left;
}

/**** Subject Gateway *****/
/* PHT CSS Document :: NetPro */

.pht_np_sub_pgHeader {
	width: 95%;
	font-size: 12pt;
	font-weight: bold;
}

.pht_np_pageSection	
{
	margin-bottom: 40px;
	width: 500px;
}


TD.pht_np_calloutHead, th.pht_np_calloutHead
{
	background-color: #F1F1F1;
    color: #4D4D4D;
	padding: 4px;
	font-weight: bold;
	border: 1px solid #E0E0E0;
}

TD.pht_np_calloutSubhead, th.pht_np_calloutSubhead
{
	background-color: #FFF;
	color: #4D4D4D;
	padding: 4px;	
	font-size: 10px;
	font-weight: bold;
	border-bottom: 1px solid #E0E0E0;
}

.left_col
{
    border-left: 1px solid #E0E0E0;
}
.right_col
{
    border-right: 1px solid #E0E0E0;
}

TD.pht_np_calloutToDo	
{
		padding: 6px 5px 6px 4px;
		border-bottom: 1px solid #E0E0E0;
}

TD.pht_np_calloutSummary	
{
		padding: 2px;	
		padding-left: 8px;
		text-align: left;
		padding-right: 5px;
		white-space: nowrap;
		border-bottom: 1px solid #E0E0E0;
		border-collapse: collapse;
}

.pht_tiny	
{
	font-size: 10px;
	vertical-align: bottom;
}

.pht_tiny_err	
{
	font-size: 10px;
	color: #C03;
	vertical-align: bottom;
}

.phtBold	
{
    font-weight: bold;
}


/**** Error Page ****/
.pht_error_outer_div 
{
    width: 80%;
    text-align: center;
    background: #f1f1f1;
    border-style: solid;
    border-color: #f1f1f1;
}

.pht_error_heading
{
    font-size: 16px;
}

.pht_error_inner_div
{
    background: #ffffff;
    text-align: left;
    padding: 8px;
}

.pht_error_message
{
    font-size: 16px;
}

.phtUserNotice
{
    border:1px solid #CCC;
    background-color: #FFFFFF;
    padding:5px;
    color:#454545;
    margin-bottom:10px;
}

.phtUserNoticeWarning
{
    border:1px solid #FC1E05;
    background-color: #FCCFCF;
    padding:5px;
    color:#992E22;
    margin-bottom:10px;
}

.phtUserNoticeError
{
    border:1px solid #FC1E05;
    background-color: #FFFFFF;
    padding:5px;
    color:Red;
    margin-bottom:10px;
}

.phtUserNoticeConfirm
{
    border:1px solid #3DA133;
    background-color: #FFF;
    padding:5px;
    color:#454545;
    margin-bottom:10px;
}

.phtUserNoticeWarning a
{
    color:Blue;
}

#notificationBanner
{    
    position:absolute;
    border:1px solid #CCC;
    background-color: #F0F0FC;
    padding:5px 10px 5px 10px;
    text-align:center;
}

.note_text
{
    color:#454545;
}

#content #sidebar ul.menu 
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 4em;
}

#content #sidebar ul.menu li 
{
    list-style: none;
    float: left;
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 0px;
    padding-bottom: 3px;
}

.fieldText
{
    font-size:12px;
    font-weight: normal;
}

TD.align, th.align
{
    text-align:left;
}

.studyPin
{
    margin-left:20px;
}

.linkDeco
{
    text-decoration: none;
}

.hide
{
    display:none;
}

.unAuthorizedError 
{
	margin-bottom: 1em;
	color: #ff3333;
}

ul.authBrowser
{
	margin-top: 9px;
	color: #ff3333;
}

ul.authBrowser li 
{
    list-style-type: disc;
}

/***Whats Next Instruction***/
/***Add subject for NetPro***/
ul.instruction 
{
	margin-left: 5px;
	margin-top: 9px;
	margin-right: 0px;
	margin-bottom: 7px;
}

ul.instruction li 
{
    list-style-type: none;
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 0px;
    padding-bottom: 3px;
}

/***Add subject for LogPad App***/       
ol.instruction 
{
	margin-left: 5px;
	margin-top: 9px;
	margin-right: 0px;
	margin-bottom: 7px;
}

ol.instruction li 
{
    list-style-type: decimal;
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 0px;
    padding-bottom: 3px;
}

/******** Settings Page *************/
#map-wrapper {width:1000px;}
#map_canvas { height: 500px; }
#map_canvas div { cursor:default; }
#map-wrapper #left-col { width:250px; font-weight:bold; font-size:13px; margin-bottom:2px;}
#map-wrapper #right-col{ width:250px; float:right; font-size:13px; text-align:right; margin-bottom:2px;}
.map-info {font-size:14px; }