body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: Tahoma, MS Mincho, MS Gothic;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.Matrix .header {
    background-color: #6A2789;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.Matrix .header td {
    background-color: #6A2789;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.Matrix .header th {
    background-color: #6A2789;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.Matrix .subheader {
    background-color: #EBEBEB;
    color: #333333;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.Matrix .subheader td {
    background-color: #EBEBEB;
    color: #333333;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.Matrix .Item {
    background-color: #EBEBEB;
    color: #333333;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.Matrix .Item td {
    background-color: #EBEBEB;
    color: #333333;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.Matrix .AlternatingItem {
    background-color: #FFFFFF;
    color: #333333;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.Matrix .AlternatingItem td {
    background-color: #FFFFFF;
    color: #333333;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.Matrix {
    border-color: #333333;
    border-style: solid;
    border-width: 0;
}
.title {
    color: #333333;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.PageNumber {
    color: #333333;
    
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.Error {
    color: #FF0000;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.Question {
    color: #333333;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.Description {
    color: #333333;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.Answer {
    color: #333333;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.Matrix .Answer {
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.Matrix .Answer td {
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.Page {
    height: 25px;
}
.button {
    border-color: #6A2789;
    border-style: solid;
    border-width: 1px;
    font-style: normal;
    font-weight: normal;
    padding: 2px 5px;
    text-decoration: none;
}
.ProgressBar {
    background-color: #F5C8FF;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    height: 15px;
    width: 250px;
}
.ProgressBarInner {
    background-color: #6A2789;
    height: 15px;
    width: 250px;
}

/* turn off red asterrisk for question in checkbox survey*/
tr:first-child td div:first-child span:first-child.Error {
    display:none;
}

/*Turn off asterrisk in header of Matrix*/
table table tr:first-child td span:first-child.Error  {
    display:none;
}


      



