body {
    font-family: Verdana, Helvetica, sans-serif;
}

#controls {
    background      : #E2E2E2;
    border          : 1px solid #CDCDCD;
    border-radius   : 5px;
    padding         : 10px;
}

h2 {
    border-bottom   : 1px solid #CDCDCD;
    padding-bottom  : 10px;
}

table {
    font-size : 0.75em;
}