@import 'ltr/layout';
@import 'rtl/layout';

.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

div.affidavit-text {
    margin-bottom: 1em;
}

.ellipsis-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}
