﻿html, body 
{
    color: #454545;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	margin:0;
    padding:0;
    height:100%;
}

a {color: #6D2E8C;}

.container 
{
   min-height:100%;
   position:relative;
}

.body
{
    padding-bottom:40px;   /* Height of the footer */
}

.footer 
{
    text-align: center;
	border-top: 1px solid #ccc;
	font-size: 12px;
	margin-top: 10px;
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;   /* Height of the footer */
}

ul.hr-list
{
    margin: 10px 0 0 0;
    padding:0;
	text-align: center;
}

ul.hr-list li 
{
    padding: 0 4px;
    display: inline;
	border-right: 1px solid #454545;
}
		
ul.hr-list li.last 
{
	border: 0;
}

table { width: 100%; }

/* FORMS - START */
.form-row
{
    margin-bottom: 5px;
}

.form-row label 
{
	display: block;
}
/* FORMS - END */

label.error, div.error, div.server-error
{
	margin-bottom: 1em;
	color: #ff3333;
}

/* override default theme */
.ui-bar-a {
    /*background: repeat scroll 0 0 #512B8A*/
    background: repeat scroll 0 0 #024e80;
    border: 1px solid #662D91;
    color: #EEE;
    font-weight: bold;
    text-shadow: 0 1px 0 #444444;
}

.ui-bar-a .ui-link-inherit {
    color: #C3ABCE;
}

.ui-bar-a a.ui-link {
    color: #7CC4E7;
    font-weight: bold;
}

.ui-bar-b {
    /*background: linear-gradient(#DDDDDD, #BBBBBB) repeat scroll 0 0 #BBBBBB;*/
    background: repeat scroll 0 0 #DDDDDD;
    border: 1px solid #BBBBBB;
    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 0 #EEEEEE;
}

/* Override margin in jquery mobile */
.ui-header .ui-title 
{
    margin: .6em 10% .8em;
}

.notification
{    
    position:absolute;
    border:1px solid #CCC;
    background-color: #F0F0FC;
    padding:5px 10px 5px 10px;
    text-align:center;
    z-index:10000;
    color:#454545;
    width:100%;
    height:auto;
    font-size:16px;
    zoom: 1;
}

#DTPanel { margin: 20px 0 10px 0; }

