html[dir='ltr'],
html[dir='rtl'] .ignore-rtl {

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        float: left;
    }

    @media (min-width: 768px) {
        .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
            float: left;

            .dl-horizontal dt {
                float: left;
            }
        }
    }

    .left {
        float   : left;
    }

    .pull-left {
        float: left !important;
    }

    .pull-right {
        float: right !important;
    }

    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }

    .admin-icon {
        padding-left: 64px;
        background-position: left 5px center !important;
    }

    .has-feedback .form-control {
        padding-right: 42.5px;
    }

    .form-control-feedback {
        right: 0;
    }

    span#back {
        font-size: 2em;
        color: #fff;
    }

    .ui-datebox-container {
        direction: ltr;
    }

}
