<script id="inactive-tab-template" type="text/template">
    <header class="navbar navbar-inverse navbar-static-top navbar-primary">
        <div class="container-fluid text-center">
            <h4 class="navbar-text">
                <img src="./media/images/logo.png" height="25px" />
                {{ header }}
            </h4>
        </div>
    </header>

    <div id="about-content" class="container-fluid text-center">
        <h2 class="bold col-xs-12 col-md-12 text-center">{{ inactiveTabHeader }}</h2>
        <p>{{ inactiveTab }}</p>
        <hr />
        <button
            id="activate"
            class="btn btn-primary"
            type="button">
            {{ activateTab }}
        </button>
    </div>
</script>
