<script id="login-tpl" type="text/template">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 header-item text-left">
                </div>
                <div class="col-sm-4 text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        <span>{{ header }}</span>
                    </h4>
                </div>
                <div class="col-sm-4 header-item text-right">
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div id="sync-button" class="pull-right text text-right" disabled>
            <span id="pending-transmission-count"></span>
            <span><i class="fa fa-refresh icon"></i></span><br/>
            <span class="text-right">{{ sync }}</span>
        </div>

        <div class="clearfix">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="intro">
                    <h3>{{ welcome }}</h3>
                    <h4>{{ site }}: {{ siteNumber }}</h4>
                </div>
                <form id="userLoginForm">

                    <!-- Username -->
                    <div class="form-group">
                        <div>
                            <label for="user">{{ user }}:</label>
                        </div>
                        <div class="input-group">
                            <input id="user" class="form-control" name="user-{{ key }}" data-placeholder="{{ user }}"
                                   type="text" autocomplete="off"/>
                        </div>
                    </div>

                    <!-- Role -->
                    <div class="form-group">
                        <div>
                            <label for="role">{{ role }}</label>
                        </div>
                        <div class="input-group">
                            <select id="role" class="form-control" name="role" data-placeholder="{{ role }}"></select>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <div>
                            <label for="password">{{ password }}</label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-asterisk"></span> </span>
                            <input id="password" class="form-control" name="password-{{ key }}" type="{{ inputType }}"
                                   placeholder="{{ password }}..." autocomplete="new-password"/>
                        </div>
                    </div>

                    <button id="forgot-password" class="btn btn-link btn-sm" type="button" disabled>
                        {{ forgotPassword }}
                    </button>
                    <hr/>
                    <button id="login" class="btn btn-primary btn-block" type="button" disabled>
                        {{ login }}
                    </button>

                    <button id="select-site" class="btn btn-default btn-block btn-sm" type="button">
                        {{ selectSite }}
                    </button>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>

    <footer id="footer" class="footer hidden">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="next" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>
</script>
