<script id="unsupported-browser-template" type="text/template" xmlns="http://www.w3.org/1999/html">
    <header class="navbar navbar-inverse navbar-static-top navbar-primary">
        <div class="container-fluid text-center">
            <h4 class="navbar-text">
                <img src="./media/images/logo.png" height="25px" />
                {{ header }}
            </h4>
        </div>
    </header>

    <div id="about-content" class="container-fluid">
        <h4 class="bold col-xs-12 col-md-12 text-center">{{ unsupportedBrowser }}</h4>
    </div>
</script>
