<!-- Modeled after activation.ejs -->
<script id="trainersetup-template" type="text/template">

    <header class="navbar navbar-inverse navbar-static-top navbar-primary">
        <div class="container-fluid text-center">
            <h4 class="navbar-text">
                <img src="./media/images/logo.png" height="25px" />
                {{ header }}
            </h4>
        </div>
    </header>

    <section class="navbar navbar-secondary subheader">
        <div class="container-fluid">
            <h4 class="navbar-text">{{ title }}</h4>
        </div>
    </section>

    <div class="container-fluid">

        <form id="trainerSetupForm" class="form" data-ajax="false" autocomplete="off">

            <div class="form-group">
                <label for="phase">{{ language }}</label>
                <select name="language" id="language" class="form-control"></select>
            </div>

            <div id="localVariables"></div>

        </form>
    </div>

    <footer class="footer">
       <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="next" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ submit }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>
</script>

<script id="trainer-language-selection-template" type="text/template">
    <header class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid text-center">
            <h4 class="navbar-text">
                <img src="./media/images/logo.png" height="25px" />
                {{ header }}
            </h4>
        </div>
    </header>

    <div id="content" class="container-fluid">

        <div class="intro">
            <p class="lead">{{ tagline }}</p>
        </div>

        <form class="form">

            <!-- Language -->
            <div class="form-group">
                <label for="language">{{ language }}</label>
                <select id="language" class="form-control" name="language"></select>
            </div>

        </form>

    </div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="next" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>
</script>
