<!-- ABOUT TEMPLATE
    @param header The text to display for the application's header.
    @param title The text to display for the page's title.
    @param studyVersion The label of study version
    @param studyVersionValue The value of study version
    @param activationCode The label of activation code
    @param activationCodeValue The value of activation code
    @param studyURL The label of study URL
    @param studyURLValue The value of study URL
    @param subjectID The label of subject id
    @param subjectIDValue The value of subject id
    @param protocol The label of protocol
    @param protocolValue The value of protocol
    @param clientName The label of client name
    @param clientNameValue The value of client value
    @param studyReports The label of study reports count
    @param studyReportCounts The stored study reports count
-->
<script id="about-template" type="text/template">

    <header class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">

                <!-- Left -->
                <div class="col-xs-2">
                    <span id="back" class="pull-left">
                        <span class="fa fa-reply"></span>
                    </span>
                </div>

                <!-- Center -->
                <div class="col-xs-8 text-center">
                    <h4 class="navbar-text">
                        {{ title }}
                    </h4>
                </div>

                <!-- Right -->
                <div class="col-xs-2"></div>

            </div>
        </div>
    </header>

    <div id="about-content" class="container-fluid">

        <ul class="list-group">

            <li class="list-group-item">
                <span class="title-block">
                    <p class="title">{{ studyVersion }}</p>
                    <p class="title-subtext">{{ studyVersionValue }}</p>
                </span>
            </li>
            <li class="list-group-item">
                <span class="title-block">
                    <p class="title">{{ activationCode }}</p>
                    <p class="title-subtext">{{ activationCodeValue }}</p>
                </span>
            </li>
            <li class="list-group-item">
                <span class="title-block">
                    <p class="title">{{ studyURL }}</p>
                    <p class="title-subtext" id="about-url">{{ studyURLValue }}</p>
                </span>
            </li>
            <li class="list-group-item">
                <span class="title-block">
                    <p class="title">{{ subjectID }}</p>
                    <p class="title-subtext">{{ subjectIDValue }}</p>
                </span>
            </li>
            <li class="list-group-item">
                <span class="title-block">
                    <p class="title">{{ siteCode }}</p>
                    <p class="title-subtext">{{ siteCodeValue }}</p>
                </span>
            </li>
            <li class="list-group-item">
                <span class="title-block">
                    <p class="title">{{ protocol }}</p>
                    <p class="title-subtext">{{ protocolValue }}</p>
                </span>
            </li>
            <li class="list-group-item">
                <span class="title-block">
                    <p class="title">{{ clientName }}</p>
                    <p class="title-subtext">{{ clientNameValue }}</p>
                </span>
            </li>
            <li class="list-group-item">
                <span class="title-block">
                    <p class="title">{{ studyReports }}</p>
                    <p class="title-subtext">{{ studyReportCounts }}</p>
                </span>
            </li>
            <li class="list-group-item">
                <span class="title-block">
                    <p class="title">{{ coreProductVer }}</p>
                    <p class="title-subtext">{{ coreProductVerValue }}</p>
                </span>
            </li>
            <li class="list-group-item">
                <span class="title-block">
                    <p class="title">{{ logLevel }}</p>
                    <p class="title-subtext">{{ logLevelValue }}</p>
                </span>
            </li>
        </ul>
    </div>
</script>