<!-- ACTIVATION TEMPLATE
    @param header Displayed application header.
    @param title Displayed page title.
    @param activationCode Label for the activation text input.
    @param code The activation code carried over from the code entry view.
    @param password Password label.
    @param passwordRules List of Password Rules.
    @param confirmPassword Confirm Password label.
    @param submitIcon Icon for the submit button of the form.
    @param submit Text to display for the submit button.
    @param key A generated key to keep each input name unique.
-->
<script id="activation-template" type="text/template">

    <header class="navbar navbar-inverse navbar-static-top navbar-primary">
        <div class="container-fluid text-center">
            <h4 class="navbar-text">
                <img src="./media/images/logo.png" height="25px" />
                {{ header }}
            </h4>
        </div>
    </header>

    <section class="navbar navbar-secondary subheader">
        <div class="container-fluid">
            <h4 class="navbar-text">{{ title }}</h4>
        </div>
    </section>

    <div class="container-fluid">

        <form id="activationForm" class="form" data-ajax="false" autocomplete="off">

            <div class="form-group">
                <div>
                    <label for="txtCodeDisplay">{{ activationCode }}</label>
                </div>
                <input type="text" id="txtCodeDisplay" class="form-control" name="txtCodeDisplay_{{ key }}" disabled="true" value="{{ code }}" />
            </div>

            <div class="form-group">
                <div>
                    <label for="txtNewPassword" onclick="return false">{{ password }}</label>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="fa fa-asterisk"></span>
                    </span>
                    <input type="{{ inputType }}" id="txtNewPassword" class="form-control" name="txtNewPassword_{{ key }}" />
                </div>
            </div>

            {{ passwordRules }}

            <div class="form-group">
                <div>
                    <label for="txtConfirmPassword" onclick="return false">{{ confirmPassword }}</label>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="fa fa-asterisk"></span>
                    </span>
                    <input type="{{ inputType }}" id="txtConfirmPassword" class="form-control" name="txtConfirmPassword_{{ key }}" />
                </div>
            </div>

        </form>
    </div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="submit" class="btn btn-lg btn-primary nav-forward" disabled>
                <span class="text">{{ submit }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>

</script>
