<!-- SET ALARMS TEMPLATE
	@param title The text to display for the page's title.
-->
<script id="alarms-template" type="text/template">
	<header class="navbar navbar-inverse navbar-static-top navbar-primary">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2">
					<span id="back" class="pull-left">
						<span class="fa fa-reply"></span>
					</span>
				</div>
				<div class="col-xs-8 text-center">
					<h4 class="navbar-text">{{ title }}</h4>
				</div>
				<div class="col-xs-2"></div>
			</div>
		</div>
	</header>

	<div class="container-fluid">
		<div id="alarms-content" class="list-group">
		</div>
	</div>
</script>

<!-- MESSAGEBOX SCREENSHOTS TEMPLATE -->
<script id="messagebox-screenshots-template" type="text/template">
	<header class="bar bar-nav">
		<span id="back" class="pull-left">
			<span class="fa fa-reply"></span>
		</span>
		<h1 class="title">Take MessageBox Screenshots</h1>
	</header>

	<div id="messagebox-content" class="container-fluid">
		<button id="startCapture" class="btn btn-primary btn-block" type="button">
			Start Capture
		</button>
	</div>
</script>