<!-- BLUETOOTH TEMPLATE
	@param header The text to display for the application's header.
	@param title The text to display for the page's title.
	@param refresh The text to display on the refresh list button
	@param pair The text to display on the pairing button
	@param errorTitle The title text to display when the plugin is not available
	@param missingPlugin The error text to display when the plugin is not available
-->
<script id="bluetooth-template" type="text/template">

	<nav class="navbar navbar-inverse navbar-static-top navbar-primary">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2">
					<span id="back" class="pull-left">
						<span class="fa fa-reply"></span>
					</span>
				</div>
				<div class="col-xs-8 text-center">
					<h4 class="navbar-text">{{ header }}</h4>
				</div>
				<div class="col-xs-2"></div>
			</div>
		</div>
	</nav>

	<nav class="navbar navbar-default navbar-static-top navbar-secondary">
		<div class="container-fluid text-center">
			<h4 class="navbar-text">{{ title }}</h2>
		</div>
	</nav>

	<header id="dashboard-subheader" data-role="header" data-theme="b" data-position="inline">
		<span class="ui-title"/>
		<a id="refresh" href="#" class="ui-btn-left" data-role="button">{{ refresh }}</a>
	</header>

	<div id="bluetooth-content" data-role="content" data-theme="b">
		<div id="missing-plugin" class="hidden" data-role="content" data-theme="b">
			<h2 class="center">{{ errorTitle }}</h2>
			<h4>{{ missingPlugin }}</h4>
		</div>

		<ul id="device-list" data-role="listview">

		</ul>
	</div>

	<div id="bluetooth-buttons" data-role="footer" data-theme="b" data-position="inline">
		<a id="pair-button" href="#" class="ui-btn-right" data-role="button">{{ pair }}</a>
	</div>
</script>