<!-- END USER LICENSE TEMPLATE
    @param header Displayed application header.
    @param title Displayed page title.
    @param text The text of the end user license
    @param decline The text of the decline button
    @param accept The text of the accept button
-->
<script id="end-user-license-template" type="text/template">
    <header class="navbar navbar-inverse navbar-static-top navbar-primary">
        <div class="container-fluid text-center">
            <h4 class="navbar-text">
                <img src="./media/images/logo.png" height="25px" />
                {{ header }}
            </h4>
        </div>
    </header>

    <div class="container-fluid">
        <div id="end-user-license-wrapper">
            <h4 class="bold col-xs-12 col-md-12 text-center"><strong>{{ title }}</strong></h4>
            <div><span>{{ text }}</span></div>
        </div>
    </div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ decline }}</span>
            </button>

            <button id="next" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ accept }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>
</script>
