<!-- FORGOT PASSWORD TEMPLATE
	@param header The text to display for the application's header.
	@param title The text to display for the page's title.
	@param secretQuestion The secret question.
	@param submitIcon The icon to display for the submit button.
	@param submit The text to display for the submit button.
	@param key A generated key to keep each input name unique.
	@param unlockCode The text to display for the forgot secret question link
	@param passwordRules The text describing the password requirements
	@param disabledLoginText The text to inform the user why they're on the page
	@param pleaseAnswerText The text instructing the user what to do on the page
	@param newPassword Label for the new password input.
	@param confirmPassword Label for the confirm password input.
-->
<script id="forgot-password-activation-tpl" type="text/template">

	<header class="navbar navbar-inverse navbar-static-top navbar-primary">
		<div class="container-fluid">
			<div class="row">

				<div class="col-xs-2"></div>

				<div class="col-xs-8 text-center">
					<h4 class="navbar-text">
						<img src="./media/images/logo.png" height="25px" />
						{{ header }}
					</h4>
				</div>

				<div class="col-xs-2"></div>

			</div>
		</div>
	</header>

	<section class="navbar navbar-static-top navbar-secondary subheader">
	    <div class="container-fluid text-left">
	        <h4 class="navbar-text">{{ title }}</h4>
	    </div>
	</section>

	<div class="container-fluid">

		<p>{{ disabledLoginText }}</p>

		<p>{{ pleaseAnswerText }}</p>

		<p>{{ secretQuestion }}</p>

		<form class="form" data-ajax="false" autocomplete="off" autocorrect="off">

			<div class="form-group">
				<input type="text" class="form-control" name="secret_answer_{{ key }}" id="secret_answer" value=""/>
			</div>

			<div class="form-group">
				<div>
					<label for="txtNewPassword" onclick="return false">{{ newPassword }}</label>
				</div>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="fa fa-asterisk"></span>
					</span>
					<input class="form-control" type="{{ inputType }}" name="txtNewPassword_{{ key }}" id="txtNewPassword" value="" />
				</div>
			</div>

			<div id="display-password-rules" class="hidden">{{ passwordRules }}</div>

			<div class="form-group">
				<div>
					<label for="txtConfirmPassword" onclick="return false">{{ confirmPassword }}</label>
				</div>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="fa fa-asterisk"></span>
					</span>
					<input type="{{ inputType }}" class="form-control" name="txtConfirmPassword_{{ key }}" id="txtConfirmPassword" value="" />
				</div>
			</div>

			<p class="pull-right"><a id="unlock-code" >{{ unlockCode }}</a></p>

		</form>

	</div>

	<footer id="footer" class="footer">
	    <div class="multiple-btns">
	        <button id="back" class="btn btn-lg btn-primary nav-backward">
	            <span class="glyphicon glyphicon-menu-left"></span>
	            <span class="text">{{ back }}</span>
	        </button>

	        <button id="submit" class="btn btn-lg btn-primary nav-forward" disabled>
	            <span class="text">{{ submit }}</span>
	            <span class="glyphicon glyphicon-menu-right"></span>
	        </button>
	    </div>
	</footer>
</script>
