<!-- HANDOFF TEMPLATE
	@param header Displayed application header.
	@param title Displayed page title.
	@param handoffMessage Displayed message.
-->
<script id="handoff-template" type="text/template">

	<header class="navbar navbar-inverse navbar-static-top navbar-primary">
	    <div class="container-fluid text-center">
	        <h4 class="navbar-text">
	            <img src="./media/images/logo.png" height="25px" /> 
	            {{ header }}
	        </h4>
	    </div>
	</header>

	<div id="handoff-wrapper" class="center container-fluid">
	    <div class="vcenter row large-text percentscreen-row">
	        {{ handoffMessage }}
	    </div>
	</div>

	<footer id="footer" class="footer">
	    <div class="multiple-btns">
	        <button id="back" class="btn btn-lg btn-primary nav-backward">
	            <span class="glyphicon glyphicon-menu-left"></span>
	            <span class="text">{{ back }}</span>
	        </button>

	        <button id="next" class="btn btn-lg btn-primary nav-forward">
	            <span class="text">{{ next }}</span>
	            <span class="glyphicon glyphicon-menu-right"></span>
	        </button>
	    </div>
	</footer>
</script>