<script id="login-tpl" type="text/template">

    <header class="navbar navbar-inverse navbar-static-top navbar-primary">
        <div class="container-fluid">
            <div class="row">
                <div class="text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        {{ header }}
                    </h4>
                </div>
            </div>
        </div>
    </header>

    <section class="container-fluid navbar-secondary">
        <div class="row">

            <div class="top-padding">
                <div id="indicators" class="col-xs-9"></div>

                <!-- <div class="col-xs-3"></div> -->

                <div class="col-xs-3 text sync-item" id="sync-button">
                    <span id="pending-transmission-count"></span>
                    <span class="glyphicon glyphicon-refresh"></span><br />
                </div>
            </div>

        </div>
    </section>

    <section class="container-fluid intro-block">
        <div class="row">
            <div class="text-center">
                <h3 class="welcome-msg">{{ welcome }}</h3>
                <h4 class="sub-intro">{{ subjectId }} <bdi>{{ subjectNumber }}</bdi></h4>
                <h4 class="sub-intro">{{ study }} {{ studyName }}</h4>
                <h4 class="sub-intro">{{ site }} {{ siteNumber }}</h4>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3"></div>

            <div class="col-sm-6">

                <form id="userLoginForm">
                    <div class="form-group">
                        <div>
                            <label for="user">{{ user }}:</label>
                        </div>
                        <div class="input-group" id="input-username">
                            <span class="input-group-addon" id="user-addon">
                                <span class="fa fa-user"></span>
                            </span>
                            <select id="user" class="form-control" name="user" data-placeholder="Select User"></select>
                        </div>
                    </div>
                    <div id="admin-language-selection" class="form-group hidden">
                        <div>
                            <label for="languages">{{ language }}</label>
                        </div>
                        <div>
                            <select name="languages" id="languages" class="form-control" data-placeholder="Select Language"></select>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <div>
                            <label for="password">{{ password }}</label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-asterisk"></span> </span>
                            <input id="password" class="form-control" name="password" type="{{ inputType }}"
                                   placeholder="{{ password }}..." autocomplete="new-password"/>
                        </div>
                    </div>

                    <p id="forgot-password" class="">
                        {{ forgotPassword }}
                    </p>

                    <button id="login" class="btn btn-primary btn-block" type="button" disabled>
                        {{ login }}
                    </button>
                </form>
            </div>

            <div class="col-sm-3"></div>
        </div>
    </div>
</script>
