<!--RESET SECRET QUESTION TEMPLATE
	@param header Displayed application header.
	@param title Displayed page title.
	@param secretQuestion Label for secret question select element.
	@param secretAnswer Label for secret answer text input.
	@param submitIcon Icon for the submit button of the form.
	@param submit Text to display for the submit button.
	@param key A generated key to keep each input name unique.
-->
<script id="reset-secret-question-activation-template" type="text/template">
	<header class="navbar navbar-inverse navbar-static-top navbar-primary">
	    <div class="container-fluid text-center">
	        <h4 class="navbar-text">
	            <img src="./media/images/logo.png" height="25px" /> 
	            {{ header }}
	        </h4>
	    </div>
	</header>

	<section class="navbar navbar-static-top navbar-secondary subheader">
	    <div class="container-fluid text-left">
	        <h4 class="navbar-text">{{ title }}</h4>
	    </div>
	</section>

	<div class="container-fluid">
		<form class="form" data-ajax="false" autocomplete="off" autocorrect="off">
			<div class="form-group">
                <div>
				   <label for="secret_question">{{ secretQuestion }}</label>
                </div>
                <div>
					<select name="secret_question_{{ key }}" id="secret_question" class="form-control"></select>
                </div>
			</div>

			<div class="form-group">
				<label for="secret_answer">{{ secretAnswer }}</label>
				<input id="secret_answer" class="form-control" type="text" name="secret_answer_{{ key }}"  value="" autocapitalize="off"/>
			</div>
		</form>
	</div>

	<footer id="footer" class="footer">
	    <div class="single-btn">
	        <button disabled id="submit" class="btn btn-lg btn-primary nav-forward">
	            <span class="text">{{ submit }}</span>
	            <span class="glyphicon glyphicon-menu-right"></span>
	        </button>
	    </div>
	</footer>
</script>