html[dir='rtl'] {

    .select2-col-overrides() {
        float: right;

        &.no-flip {
            float: left;
        }
        &.ltr-select2 {
            .select2-container--default .select2-selection--single .select2-selection__arrow {
                right: 10px;
                left: auto;
            }
        }
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        .select2-col-overrides;
    }

    @media (min-width: 768px) {
        .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, col-xs-10, .col-xs-11, .col-xs-12 {
            .select2-col-overrides;
            .dl-horizontal dt {
                float: right;
            }
        }
    }

    .left {
        float   : right;
    }

    .pull-left {
        float: right !important;
    }

    .pull-right {
        float: left !important;
    }

    .text-left {
        text-align: right !important;
    }

    .text-right {
        text-align: left !important;
    }

    .admin-icon {
        padding-right: 64px;
        background-position: right 5px center !important;
    }

    .list-group {
        padding-right: 0;
    }

    .has-feedback .form-control {
        padding-left: 42.5px;
    }

    .form-control-feedback {
        left: 0;
        right: unset;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        left: 15px;
    }

   .select2-container .select2-selection--single .select2-selection__rendered {
       display: block;
       padding-left: 20px;
       padding-right: 8px;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
   }

   .no-flip {
        float: left;
    }

    .fa-arrow-left {
        &:before {
           content: "\f061";
        }
    }

    span#back {
        font-size: 2em;
        color: #fff;
    }

    #edit-reason-content {
        dl dd {
            margin-right: 0;
        }
    }

    // DE17356 - https://rally1.rallydev.com/#/37751416407ud/detail/defect/63139767265
    #set-tz-activation-view,
    #set-tz-view,
    #Time_Confirmation {
        .select2-selection__rendered {
            text-align: right;
        }
    }

    li.select2-results__option {
        padding-right: 16px;
    }
}
