@question-width: 50%;
@text-width: 100px;

.matrix-container {
    /*
        This is applied to elements that may wrap individual flex table elements.
    */
    .wrapper {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        flex-grow: 0;
        -webkit-flex-grow: 0;
        align-items: center;
    }

    /*
        This should be applied to any individual items to be rendered as table cells.
    */
    .text-4, .text-2, .item {
        flex-grow: 1;
        -webkit-flex-grow: 1;
    }

    .item {
        word-wrap: break-word;
        padding-right: 0px;
        width: 100%;
        border: none;
    }

    /*
        RadioButton style overrides specific to the MatrixRadioButton control.
    */
    div.RadioButton div.item.btn {
        background-color: transparent;
        border: none;
        text-align: center;
    }

    div.RadioButton div.item.active.btn {
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
    }

    /* Center the icon since we are hiding the label */
    div.RadioButton div.item div.icon {
        margin: auto;
    }

    div.RadioButton div.item input[type=radio] + div.icon:before {
        font-family: FontAwesome;
        line-height: 1;
        font-weight: 400;
        content: '\f10c';
        color: #0179A9;
    }

    div.RadioButton div.item input[type=radio]:checked + div.icon:before {
        content: '\f192';
        color: #0179A9;
        border: none;
    }

}

/*
    The controls the layout of each "row" in the flex table.
*/
.table-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: no-wrap;
    -webkit-flex-wrap: no-wrap;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 2px solid #e0e0e0;
    border-collapse: collapse;
    padding-top: 5px;
}

/*
    Styles the header elements in the matrix.
*/
.table-row.header {
  background-color: #F2F2F2;
  font-weight: bold;
  color: #000000;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align:center;
}

/*
    Override any question displays (currently for LogPad)
*/
div.matrix-container div.question {
    display: flex;
    align-items: center;
}

/*
    Controls the display (or lack thereof) of the radio button labels.
*/
.matrix-text {
    display: none;
}

/*
    Applied to the parent element of the main matrix widget question to ensure the proper flex layout.
*/
.matrix-wrapper {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    align-items: center;
}

/*
    Default row colors
*/
div.matrix-container div.question.table-row:nth-child(even) {
    background-color: #fff;
}

div.matrix-container div.question.table-row:nth-child(odd) {
    background-color: #FBFCFC;
}

/*
    Applied to the element that displays the question text for each question in the matrix.

    The width will be overridden by the flex property.
*/
.matrix-question {
    width: @question-width;
    flex: 0 0 @question-width;
}


