.reviewScreen_Buttons {
    padding: 10px;
    .ui-btn-up-a {
        border-radius: 0.4em;
    }
}

.reviewScreen_Items {
    padding: 10px;

    .ui-btn-up-a {
        background: #FFF;
        font-weight: normal;
        border-radius: 0.4em;
        margin-bottom: 2px;
    }

    /* Selected button style*/
    li.selected {
        color: #333;
        border: solid 1px #da7c0c;
        background: #f78d1d;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faa51a), color-stop(100%, #f47a20));
        background: -webkit-linear-gradient(top, #faa51a 0%, #f47a20 100%);

        div {
            color: #fef4e9;
        }
    }
}

div.reviewScreen hr {
    margin: 1.5em 0;
    border: 1px solid #CDCDCD;
}
