#login-view, #context-switching-view {
    #input-username {
        table-layout: fixed;
        width: 100%;

        span .selection span span div div div {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    #user-addon {
        width: 41px;
    }
}

