//- colors.less

//-------------------------------------
// Purple (Primary);
//-------------------------------------
@purple-500         : #552988;
@purple-700         : #371A59;

//-------------------------------------
// Orange (Primary)
//-------------------------------------
@orange-50    : #FCF8E2;
@orange-100   : #FBEED4;
@orange-300   : #E88B4B;
@orange-500   : #e36f1e;

//-------------------------------------
// Blue (Primary)
//-------------------------------------
@blue-300       : #337DBC;
@blue-500       : #005cab;
@blue-page-bg   : #046090;
@blue-inverse   : #024e80;
@blue-dark      : #003963;

//-------------------------------------
// Grey (Primary)
//-------------------------------------
@grey       : #b3b3b3; // R:179 G:179 B:179
@grey-light : #f5f5f5;
@grey-dark  : darken(@grey, 10%);

//-------------------------------------
// Cyan (Secondary)
//-------------------------------------
@cyan-50  : #D8EDF8;
@cyan-100 : #BBE8F2;
@cyan-500 : #009CDF; // R:0 G:156 B:223


//-------------------------------------
// Red (Secondary)
//-------------------------------------
@red-50  : #F2DEDE;
@red-100 : #EFD3D7;
@red-300 : #DB524B;
@red-500 : #CC2800; // R:204 G:40 B:0

//-------------------------------------
// Green (Secondary)
//-------------------------------------
@green-50    : #DFF0D7;
@green-100   : #D7EAC6;
@green-300   : #58B957;
@green-500   : #669906; // R:102 G:153 B:6

//-------------------------------------
// GreyScale
//-------------------------------------
@white      : #FFF;
@grey-50    : #FAFAFA;
@grey-100   : #F5F5F5;
@grey-200   : #EEEEEE;
@grey-300   : #E0E0E0;
@grey-400   : #BDBDBD;
@grey-500   : #9E9E9E;
@grey-600   : #757575;
@grey-700   : #616161;
@grey-800   : #424242;
@grey-900   : #212121;
@black      : #000;