<script id="about-tpl" type="text/template">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2">
                    <span id="back">
                        <i class="fa fa-arrow-left"></i>
                    </span>
                </div>
                <div class="col-xs-8">
                    <div class="container-fluid text-center">
                        <h4 class="navbar-text">
                            <img src="./media/images/logo.png" height="25px" />
                            <span>{{ title }}</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="list-group">
            <!-- Study Version -->
            <div class="list-group-item">
                <strong>{{ labelStudyVersion }}</strong> <span class="pull-right">{{ studyVersion }}</span>
            </div>

            <!-- Study URL (NetPRO) -->
            <div class="list-group-item">
                <strong>{{ labelStudyURL }}</strong>: <span class="pull-right">{{ studyURL }}</span>
            </div>

            <!-- Device ID (StudyWorks) -->
            <div class="list-group-item">
                <strong>{{ labelDeviceId }}</strong>: <span class="pull-right">{{ deviceId }}</span>
            </div>

            <!-- Device Serial Number -->
            <div class="list-group-item">
                <strong>{{ labelDeviceSerialNumber }}</strong>: <span class="pull-right">{{ deviceSerialNumber }}</span>
            </div>

            <!-- Site -->
            <div class="list-group-item">
                <strong>{{ labelSite }}</strong>: <span class="pull-right">{{ site }}</span>
            </div>

            <!-- Protocol -->
            <div class="list-group-item">
                <strong>{{ labelProtocol }}</strong> <span class="pull-right">{{ protocol }}</span>
            </div>

            <!-- Sponsor -->
            <div class="list-group-item">
                <strong>{{ labelSponsor }}</strong> <span class="pull-right">{{ sponsor }}</span>
            </div>

            <!-- Stored Forms -->
            <div class="list-group-item">
                <strong>{{ labelStoredReports }}</strong> <span class="pull-right">{{ storedReports }}</span>
            </div>

            <!-- Product Version -->
            <div class="list-group-item">
                <strong>{{ labelProductVersion }}</strong> <span class="pull-right">{{ productVersion }}</span>
            </div>

            <!-- Battery Level -->
            <div class="list-group-item">
                <strong>{{ labelBatteryLevel }}</strong>: <span class="pull-right">{{ batteryLevel }}</span>
            </div>

            <!-- Last Refresh Time -->
            <div class="list-group-item">
                <strong>{{ labelLastRefreshTime }}</strong>: <span class="pull-right">{{ lastRefreshTime }}</span>
            </div>
        </div>
    </div>
</script>
