
<script id="customer-support-template" type="text/template">

   <nav class="navbar navbar-inverse navbar-static-top">

        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-2">
                    <span id="back">
                        <i class="fa fa-arrow-left"></i>
                    </span>
                </div>
                <div class="col-xs-8">
                    <div class="container-fluid text-center">
                        <h4 class="navbar-text">
                            <img src="./media/images/logo.png" height="25px" />
                            <span>{{ title }}</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="form-group">
                <label for="support_dropdown" class = 'support-message-text'>{{ supportPageMessage }}</label>
                <select id="support_dropdown" class=" center form-control" name="support_dropdown_{{ key }}" tabindex="2">
                <option value="{{supportDropdownDefault}}">{{supportDropdownDefault}}</option>
                </select>
        </div>

        <ul id="support-list" class="list-group">
        </ul>
    </div>
</script>
