<script id="deactivate-patient-template" type="text/template">

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="row">

				<div class="col-xs-2">
					<span id="back">
						<i class="fa fa-arrow-left"></i>
					</span>
				</div>
				<div class="col-xs-8">
					<div class="container-fluid text-center">
						<h4 class="navbar-text">
							<img src="./media/images/logo.png" height="25px" /> 
							<span>{{ title }}</span>
						</h4>
					</div>
				</div>
				<div class="col-xs-2">
					<button id="settings" class="btn btn-default navbar-btn pull-right">
						<i class="fa fa-cogs"></i>
					</button>
				</div>
			</div>
		</div>
	</nav>

	

	<div class="container-fluid home">

		<div class="info-box">

			<div class="row">

				<div class="col-xs-9">

					<strong>{{ fName }} {{ lName }}</strong><br>
					{{ role }}<br><br>
					<strong>Site Number:</strong> {{ siteNumber }}

				</div>

				<div class="col-xs-3">

					<button class="btn btn-default">Reports & Forms  <i class="fa fa-bar-chart"></i></button>
					<button class="btn btn-default">Stored Forms  <i class="fa fa-refresh"></i></button>

				</div>

			</div>
		</div><!-- / .info-box -->
		<p>Select the reason for deactivating this patient.</p>
		<div class="row">

			<div class="col-xs-9">

				<div class="table">

					<table>
						<tr>
							<th>Reason</th>
						</tr>
						<tr>
							<td>Adverse Event</td>
						</tr>
						<tr>
							<td>Completed Study</td>
						</tr>
						<tr>
							<td>Death</td>
						</tr>
						<tr>
							<td>Lack of Efficacy</td>
						</tr>
						<tr>
							<td>Lost to Follow-up</td>
						</tr>
						<tr>
							<td>Non-Compliance with Study Drug</td>
						</tr>
						<tr>
							<td>Physician Decision</td>
						</tr>
						<tr>
							<td>Pregnancy</td>
						</tr>
						<tr>
							<td>Progressive Disease</td>
						</tr>
						<tr>
							<td>Protocol Violation</td>
						</tr>
					</table>

				</div><!-- / table -->
			</div>

			<div class="col-xs-3 admin">

				<p><strong>Date:</strong> {{ date }}</p>
				<p><strong>Patient Status:</strong> {{ status }}</p>
				<p><strong>Patient ID:</strong> {{ id }}</p>
				<p><strong>Patient Initials:</strong> {{ initials }}</p>

			</div>


		</div>

	</div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">            
			<button id="cancel" class="btn btn-lg btn-primary">
				<span class="text">{{ cancel }}</span>
			</button>

            <button id="next" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>

</script>