<!-- SITEPAD HOME TEMPLATE -->

<script id="home-tpl" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 header-item text-left">
                    <!-- DE16957 https://rally1.rallydev.com/#/36503486296ud/detail/defect/59556929940
                    <span class="pull-left header-help">
                        <i class="fa fa-question-circle header-icon"></i>
                        <span>{{ help }}</span>
                    </span>-->
                </div>
                <div class="col-sm-4 text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        <span>{{ header }}</span>
                    </h4>
                </div>
                <div class="col-sm-4 header-item text-right">
                    <span id="settings-btn" class="pull-right header-settings">
                        <span>{{ settings }}</span>
                        <i class="fa fa-cog header-icon"></i>
                    </span>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid home">

        <div class="row row-01">

            <div id="sidebar-user-info" class="col-xs-3">
                <dt class="show">
                    <img src="./media/images/doctor.png" width="48px" height="48px">
                </dt>
                <dd class="site-text">
                    <div class="ellipsis-overflow" title="{{ username }}"><strong>{{ username }}</strong></div>
                    <div class="text-muted">{{ role }}</div>
                </dd>
            </div>

            <div class="col-xs-8 content-header">
                <span class="home-text">
                    <i class="fa fa-home"></i>
                    <span>{{ home }}</span>
                </span>
            </div>

            <div id="transmit" class="col-xs-1 text-center">
                <span id="pending-transmission-count"></span>
                <span><i class="fa fa-refresh icon"></i></span>
            </div>

        </div>
        <!-- / .row -->
    </div>

    <div class="container-fluid snap-bottom">
        <div class="row row-02">

            <div class="col-xs-3">

                <div class="list-group">

                    <!-- Patient Visits -->
                    <button id="patient-visit-btn" class="list-group-item" disabled>
                        <i class="fa fa-hospital-o"></i>
                        {{ patientVisits }}
                        <i class="fa fa-circle pull-right"></i>
                    </button>

                    <!-- Edit Patient -->
                    <button id="edit-patient-btn" class="list-group-item" disabled>
                        <i class="fa fa-edit"></i>
                        {{ editPatient }}
                        <i class="fa fa-circle pull-right"></i>
                    </button>

                    <!-- Deactivate Patient -->
                    <!-- DE16957 https://rally1.rallydev.com/#/36503486296ud/detail/defect/59556929940
                    <button id="deactivate-btn" class="list-group-item" disabled>
                        <i class="fa fa-user-times"></i>
                        {{ deactivatePatient }}
                        <i class="fa fa-circle pull-right"></i>
                    </button>-->

                    <!-- Reset Pin -->
                    <!-- DE16957 https://rally1.rallydev.com/#/36503486296ud/detail/defect/59556929940
                    <button id="reset-pin-btn" class="list-group-item" disabled>
                        <i class="fa fa-key"></i>
                        {{ resetPin }}
                        <i class="fa fa-circle pull-right"></i>
                    </button>-->

                    <!-- Add Patient -->
                    <button id="add-patient-btn" class="list-group-item no-action">
                        <i class="fa fa-user-plus"></i>
                        {{ addPatient }}
                    </button>

                    <!-- Site Assessments -->
                    <!-- DE16957 https://rally1.rallydev.com/#/36503486296ud/detail/defect/59556929940
                    <button id="site-assessments-btn" class="list-group-item no-action">
                        <i class="fa fa-list-ul"></i>
                        {{ siteAssessments }}
                    </button>-->

                    <!-- Manage Users -->
                    <button id="site-users-btn" class="list-group-item no-action">
                        <i class="fa fa-users"></i>
                        {{ manageUsers }}
                    </button>

                    <!-- Logout -->
                    <button id="logout-btn" class="list-group-item no-action">
                        <i class="fa fa-sign-out"></i>
                        {{ logout }}
                    </button>

                </div>
                <!-- / .list-group -->

                <div class="detail-list">
                    <dl class="dl-horizontal">
                        <!-- Study Version -->
                        <dt title="{{ studyVersion }}">{{ studyVersion }}</dt>
                        <dd>{{ studyVersionVal }}</dd>

                        <!-- Protocol -->
                        <dt title="{{ protocol }}">{{ protocol }}</dt>
                        <dd>{{ protocolVal }}</dd>

                        <!-- Site -->
                        <dt title="{{ site }}:">{{ site }}:</dt>
                        <dd>{{ siteCode }}</dd>

                        <!-- Sponsor -->
                        <dt title="{{ sponsor }}">{{ sponsor }}</dt>
                        <dd>{{ sponsorVal }}</dd>
                    </dl>
                </div>

                <div class="row">
                    <div id="timeTravel" class="col-xs-5">
                        <span class="ui-title"></span>
                    </div>
                    <div id="outerqr" class="col-xs-7">
                        <div id="qr-code"></div>
                        <span id="qr-error-message"></span>
                    </div>
                </div>

            </div>

            <div class="col-xs-9">
                <div class="table-wrapper fill-container"></div>
            </div>

        </div>
        <!-- / .row -->

    </div>

</script>
