<script id="language-login-option" type="text/template">
    <div class="clearfix width-full">
        <div dir="{{ item.dir }}" class="pull-left selection-text width-full"{[
            if (item.fontFamily) {
                ]} style="font-family: {{ item.fontFamily }} !important;" {[
            }
        ]}>
            <div class="width-full {{ item.cssClass }}">{{ item.localized }}</div>
        </div>
    </div>
</script>
