<script id="login-tpl" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="col-sm-3 header-item text-left">
            </div>
            <div class="col-sm-6 text-center">
                <h4 class="navbar-text">
                    <img src="./media/images/logo.png" height="25px"/>
                    <span>{{ header }}</span>
                </h4>
            </div>
            <div class="col-sm-3 header-item text-right">
            </div>
        </div>
    </nav>

	<div class="container-fluid">
        <div id="sync-button" class="pull-right text text-right" disabled>
            <span id="pending-transmission-count"></span>
            <span><i class="fa fa-refresh icon"></i></span><br />
            <span class="text-right">{{ sync }}</span>
        </div>
        <div class="clearfix">
            <div class="col-sm-3"></div>

            <div class="col-sm-6" id="login-body">

                <div class="intro">
                    <h3>{{ welcome }}</h3>
                    <h4>{{ site }}: {{ siteNumber }}</h4>
                </div>

                <form id="userLoginForm">
                    <div class="form-group">
                        <div>
                            <label for="user">{{ user }}:</label>
                        </div>
                        <div class="input-group">
                            <select id="user" class="form-control" name="user" data-placeholder="Select User"></select>
                        </div>
                    </div>
                    <div id="admin-language-selection" class="form-group hidden">
                        <div>
                            <label for="languages">{{ language }}</label>
                        </div>
                        <div>
                            <select name="languages" id="languages" class="form-control" data-placeholder="Select Language"></select>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <div>
                            <label for="password">{{ password }}</label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-asterisk"></span> </span>
                            <input id="password" class="form-control" name="password" type="{{ inputType }}"
                                   placeholder="{{ password }}..." autocomplete="new-password" />
                        </div>
                    </div>

                    <p class="text-left text-underline">
                        <a id="forgot-password">{{ forgotPassword }}</a>
                    </p>

                    <button id="login" class="btn btn-primary btn-block" type="button" disabled>
                        {{ login }}
                    </button>
                </form>

            </div>

            <div class="col-sm-3"></div>
        </div>
	</div>

    <footer id="footer" class="footer hidden">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="next" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>

</script>
