<script id="set-password-template" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 header-item text-left">
                    <!-- DE16957 https://rally1.rallydev.com/#/36503486296ud/detail/defect/59556929940
                    <span class="pull-left header-help">
                        <i class="fa fa-question-circle header-icon"></i>
                        <span>{{ help }}</span>
                    </span>-->
                </div>
                <div class="col-sm-4 text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        <span>{{ header }}</span>
                    </h4>
                </div>
                <div class="col-sm-4 header-item text-right">
                    <!-- DE16957 https://rally1.rallydev.com/#/36503486296ud/detail/defect/59556929940
                    <span id="settings-btn" class="pull-right header-settings">
                        <span>{{ settings }}</span>
                        <i class="fa fa-cog header-icon"></i>
                    </span>-->
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid new-password">

        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-8">

                <form>

                    <legend>{{ title }}</legend>

                    <!-- User ID -->
                    <div class="form-group">
                        <strong>{{ legend }}</strong> <br> <br>
                        <strong>{{ patientID }}</strong><br>
                        <strong dir="{{ languageDirection }}">{{ user }}</strong>
                    </div>

                    <!-- New Password -->
                    <div class="form-group">
                        <div>
                            <label for="txtNewPassword" onclick="return false">{{ password }}</label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-asterisk"></span>
                            </span>
                            <input type="{{ inputType }}" name="txtNewPassword" id="txtNewPassword" class="form-control"
                                   value="" autocomplete="off"/>
                        </div>
                    </div>

                    <!-- Confirm Password -->
                    <div class="form-group">
                        <div>
                            <label for="txtConfirmPassword" onclick="return false">{{ confirmPassword }}</label>
                        </div>
                        <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-asterisk"></span>
                        </span>
                            <input type="{{ inputType }}" name="txtConfirmPassword" id="txtConfirmPassword"
                                   class="form-control" value="" autocomplete="off"/>
                        </div>
                    </div>




                </form>

            </div>

            <div class="col-sm-2"></div>
        </div>

    </div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="submit" class="btn btn-lg btn-primary nav-forward" disabled>
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>

</script>
