<script id="set-time-zone-activation-template" type="text/template" xmlns="http://www.w3.org/1999/html">
    <header class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid text-center">
            <h4 class="navbar-text">
                <img src="./media/images/logo.png" height="25px" />
                {{ header }}
            </h4>
        </div>
    </header>

    <div id="content" class="container-fluid">

        <div class="intro">
            <p class="lead">{{ timeZoneMsg }}</p>
        </div>

        <form class="form">
            <!-- Language -->
            <div class="form-group">
                <select size="8" class="form-control" id="selectTimeZone"></select>
            </div>
        </form>

    </div>

    <footer id="footer" class="footer">
        <div class="container-fluid">
            <div class="row multiple-btns">
                <button id="back" class="btn btn-lg btn-primary nav-backward">
                    <span class="glyphicon glyphicon-menu-left"></span>
                    <span class="text">{{ back }}</span>
                </button>

                <button id="next" class="btn btn-lg btn-primary nav-forward" disabled="true">
                    <span class="text">{{ next }}</span>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
            </div>
        </div>
    </footer>
</script>
