<script id="settings-template" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-2">
                    <span id="back">
                        <i class="fa fa-arrow-left"></i>
                    </span>
                </div>

                <div class="col-xs-8">
                    <div class="container-fluid text-center">
                        <h4 class="navbar-text">
                            <img src="./media/images/logo.png" height="25px" />
                            <span>{{ title }}</span>
                        </h4>
                    </div>
                </div>

                <div class="col-xs-2"></div>
            </div>
        </div>
    </nav>

    <div class="container-fluid home">
        <div class="info-box">
            <div class="row">
                <div class="col-xs-9">
                    <strong>{{ username }}</strong><br>
                    <strong>{{ site }}:</strong> {{ siteNumber }}
                </div>
                <div class="col-xs-3"></div>
            </div>
        </div><!-- / .info-box -->

        <div class="row">
            <div class="col-xs-2"></div>
            <div id="button-container" class="col-xs-8">
                <!-- DE17035 - https://rally1.rallydev.com/#/3985632862ud/detail/defect/60171014671
                <button id="update" class="btn btn-default btn-block">{{ checkForUpdates }}</button>
                <button class="btn btn-default btn-block" disabled>{{ supportTools }}</button>
                <button class="btn btn-default btn-block" disabled>{{ editInfo }}</button> -->
                <button id="set-timezone" class="btn btn-default btn-block">{{ setTimeZone }}</button>
                <button id="about" class="btn btn-default btn-block">{{ about }}</button>
                <button id="customer-support" class="btn btn-default btn-block">{{ customerSupport }}</button>
                <button id="console-log" class="btn btn-default btn-block">{{ consoleLog }}</button>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
</script>
