<script id="site-user-login-selection-option" type="text/template">
    <div class="clearfix">
        <div class="pull-left selection-image">
            <img src="./media/images/doctor.png" width="48px" height="48px" />
        </div>
        <div class="pull-left selection-text">
            <div><strong>{{ username }}</strong></div>
            <div>{{ role }}</div>
        </div>
    </div>
</script>

<script id="site-user-login-option" type="text/template">
    <div class="clearfix">
        <div class="pull-left selection-image">
            <img src="./media/images/doctor.png" width="48px" height="48px" />
        </div>
        <div class="pull-left selection-text">
            <div><strong>{{ username }}</strong></div>
            <div>{{ role }}</div>
        </div>
    </div>
</script>