<script id="unlock-code-tpl" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-2"></div>

                <div class="col-xs-8">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        <span>{{ header }}</span>
                    </h4>
                </div>

                <div class="col-xs-2"></div>

            </div>
        </div>
    </nav>

    <div id="content" class="container-fluid new-user">

        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-8">

                <div class="intro">
                    <h3>{{ site }}: {{ siteCode }}</h3>

                    <p class="lead">{{ tagline }}</p>
                </div>

                <form id="unlockCodeForm">

                    <!-- Unlock Code -->
                    <div class="form-group">
                        <label for="unlock-code">{{ unlockCode }}:</label>
                        <input id="unlock-code" class="form-control" name="unlock-code" type="text"
                               placeholder="{{ enterUnlockCode }}"/>
                    </div>

                    

                    <hr/>

                    <p>
                        <small>{{ helpText }}</small>
                    </p>

                </form>

            </div>

            <div class="col-sm-2"></div>
        </div>

    </div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="next" class="btn btn-lg btn-primary nav-forward" disabled>
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>

</script>