//-- colors.less

//-------------------------------------
// Green (Primary);
//-------------------------------------
@lemon-green: #29a452;
@yellowgreen: #d1de41;


//-------------------------------------
// Red (Primary);
//-------------------------------------
@orangey-red: #f54c2b;
@orangey-red-light: #faad9e;


//-------------------------------------
// Blue (Primary);
//-------------------------------------
@addon-border-color: #97cddc;
@addon-bg-color: #b8e1ec;
@glyph-color-blue: #0583af;

@blue-light: #08acd8;
@blue-offset: #057dac;


@blue-page-bg   : #046090;
@blue-inverse   : #024e80;
@blue-dark      : #003963;

//-------------------------------------
// Grey (Primary)
//-------------------------------------
@grey       : #b3b3b3; // R:179 G:179 B:179
@grey-light : #f5f5f5;
@grey-dark  : darken(@grey, 10%);

@gray: #424242;
@gray-light: #F2F2F2;
@gray-darker: #333333;

@form-grey  : #ccc;

@white: #fff;
@black: #000;




@blue-300       : #337DBC;
