@font-face {
    font-family: 'Noto Sans Gurmukhi';
    src: url('../media/fonts/NotoSansGurmukhi-Regular.ttf');
}

@font-face {
    font-family: 'Noto Sans Gujarati';
    src: url('../media/fonts/NotoSansGujarati-Regular.ttf');
}

@font-face {
    font-family: 'Noto Sans Oriya';
    src: url('../media/fonts/NotoSansOriya-Regular.ttf');
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('../media/fonts/LucidaGrande.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('../media/fonts/LucidaGrande-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../media/fonts/NotoSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../media/fonts/NotoSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../media/fonts/NotoSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../media/fonts/NotoSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

html:lang(or) {
    font-family: 'Noto Sans Oriya', Helvetica, Arial, sans-serif;
}

html:lang(pa) {
    font-family: 'Noto Sans Gurmukhi', Helvetica, Arial, sans-serif;
}

html:lang(gu) {
    font-family: 'Noto Sans Gujarati', Helvetica, Arial, sans-serif;
}

html:lang(tw) {
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

html:lang(ja), html:lang(zh), html:lang(ko) {
    font-weight:normal !important;
}

//DE20541
html:lang(ve) {
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}
