﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="WebDiary.StudyPortal.Includes.Masters.Site" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script type="text/javascript" src="includes/scripts/jquery-latest.min.js"></script>
    <script type="text/javascript">
        // notification settings
        var notification = {
            type: 'alert',
            text: '',
            speed: 1000, // opening & closing animation speed
            timeout: 5000 // delay for closing event. Set false for sticky notifications
            };

        function setCookie(c_name, value, exdays) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString());
            document.cookie = c_name + "=" + c_value;
        }

        function getCookie(c_name) {
            var i, x, y, ARRcookies = document.cookie.split(";");
            for (i = 0; i < ARRcookies.length; i++) {
                x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
                y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
                x = x.replace(/^\s+|\s+$/g, "");
                if (x == c_name) {
                    return unescape(y);
                }
            }
        }

        setCookie('test', 'none', 1);

        // if getCookie succeeds, cookies are enabled, since the cookie was successfully created.
        if (getCookie('test')) {
            // Delete Cookie.
            setCookie('test', 'none', -1);
        }
        // if the Get_Cookie test fails, cookies are not enabled.
        else {
            if (location.href.indexOf('wd-error.aspx') < 0)
                location.href = 'wd-error.aspx?nocookie=1';
        }

        $(document).ready(function () {
            // Show StudyWorks trade for site-access.aspx page
            var url = location.href.toString();
            var index = url.indexOf('?');
            var urlPath = "";

            if (index > 0)
                urlPath = url.substring(0, index);
            else
                urlPath = url;
        });
    </script>
    <asp:Literal ID="litScript" runat="server"></asp:Literal>
    <asp:ContentPlaceHolder ID="head" clientidmode="Static" runat="server"></asp:ContentPlaceHolder>
    <link rel="stylesheet" href="~/includes/css/interface.css" />
</head>
<body>
    <form id="form1" autocomplete="off" runat="server">
    <div id="envelope">
        <div id="header">
        <img width="100%" height="46" class="bgImg" src="img/interface/ert_background.png" alt=""/>
        <img height="40" class="ertLogo" src="img/interface/ert_logo.png" alt=""/>
        <pht:Panel ID="pnlLogOff" runat="server" Visible="false">
        <ul id="constants" class="menu">
            <li><asp:Label ID="lblUserID" runat="server"></asp:Label></li>
            <li class="seperator">|</li>
            <li><asp:HyperLink ID="HomeSettingsLink" NavigateUrl="~/settings.aspx" runat="server" Text="<%$ Resources:Resource, SettingsPageLnk %>"></asp:HyperLink></li>
            <li class="seperator">|</li>
            <li><asp:HyperLink ID="LogOutLink" NavigateUrl="~/logout.aspx" runat="server" Text="<%$ Resources:Resource, SMLogout %>"></asp:HyperLink></li>
        </ul>
        </pht:Panel>          
        </div>


        <div id="content">
            <asp:ContentPlaceHolder ID="mainContent" runat="server" />
        </div>
        <div id="footer">
            <ul>
                <li>&copy; <%= DateTime.Now.Year %> <%= Resources.Resource.SMPHT%></li>
                <li>
                    <label ID="lblNetProVer" runat="server"/>
                </li>
                <li>
                    <label ID="lblCoreVer" runat="server"/>
                </li>
                <li id="liStudyVer" runat="server">
                    <label ID="lblStudyVer" runat="server"/>
                </li>
                <li>    
                    <a ID="lnkContactUs" runat="server" href="https://mystudy.phtstudy.com/ssa/pages/contact_us/"/>
                </li>
                <li class="last"> 
                    <label ID="lblIESupport" runat="server"/>         
                </li>
            </ul>
        </div>
    </div>
    <div id="notificationBanner"><span class="note_text"></span></div>
    </form>
    <script type="text/javascript">
        var banner = $('#notificationBanner');
        banner.children('.note_text').text(notification.text);
        function CenterItem(theItem) {
            var winWidth = $(window).width();
            var windowCenter = winWidth / 2;
            var itemCenter = $(theItem).width() / 2;
            var theCenter = windowCenter - itemCenter;
            if (winWidth > $(theItem).width()) { //horizontal
                $(theItem).css('left', theCenter);
            } else {
                $(theItem).css('left', '0');
            }
        }

        CenterItem(banner);
        banner.css('top', -(banner.height() + 15));

        if (notification.text.length > 0) {            
            banner.animate({ top: 0 }, notification.speed, 'swing', function () {
                if (notification.timeout) {
                    setTimeout(function () {
                        banner.animate({ top: -(banner.height() + 15) }, notification.speed, 'swing');
                    }, notification.timeout);
                }
            });
        }

        if (autoLock) {
            if (location.href.indexOf('survey.aspx') < 0) { 
                if (top.location.href.indexOf('survey.aspx') > 0) // inside frame
                    setTimeout('top.location.href = returnUrl;', sTimeout);
                else
                    setTimeout('location.href = returnUrl;', sTimeout);
            }
        }
    </script>
</body>
</html>
