<header class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid text-center">
        <h4 class="navbar-text">
            <img src="./media/images/logo.png" height="25px"/>
            {{ header }}
        </h4>
    </div>
</header>

<div id="content" class="container-fluid">

    <div class="intro">
        <p class="lead">{{ title }}</p>
    </div>

    <div class="container-fluid" id="screenshot-config-options">

        <div class="screenshot-checkbox-container">

            <div>
                <label for="screenshot-checkbox-group-lbl">Select {{ mode }}:</label>
            </div>

            <div class="select-link"><span class="check-all">Select All</span> | <span class="uncheck-all">Deselect All</span></div>

            <div id="screenshot-checkbox-group" class="list"></div>

        </div>
    </div>
</div>
<footer id="footer" class="footer">
    <div class="multiple-btns">
        <button id="back" class="btn btn-lg btn-primary nav-backward">
            <span class="glyphicon glyphicon-menu-left"></span>
            <span class="text">Back</span>
        </button>

        <button id="next" class="btn btn-lg btn-primary nav-forward">
            <span class="text">Next</span>
            <span class="glyphicon glyphicon-menu-right"></span>
        </button>
    </div>
</footer>
