.scriptText() {
    color: orange;
    font-weight: bold;
}

.scriptButtons() {
    margin: 0 auto;
    width: fit-content;
    //-webkit-text-stroke: 0.5px #000;

    button {
        margin-left: 2px;
        margin-right: 2px;
    }

    .red {
        color: red;
    }

    .blue {
        color: blue;
    }

    .green {
        color: lawngreen;
    }
}

.scriptDialogs() {
    position: fixed;
    width: 80%;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    padding: 8px;
}

#script-controls {
    position: fixed;
    width: fit-content;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px;
    z-index: 1000;
    padding: 0 4px 0 4px;
    display: inline-block;
    white-space: nowrap;

    #script-title {
        line-height: 0.8;
        .scriptText();
        text-align: center;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
    }

    #script-buttons {
        .scriptButtons();

        #script-state-indicator {
            .clear {
                color: rgba(0, 0, 0, 0);
            }
        }
    }

    #script-info-text {
        color: white;
    }
}

#script-save-dialog {
    .scriptDialogs();

    #script-save-dialog-msg {
        .scriptText();
    }
    input {
        width: 100%;
        margin-bottom: 3px;
    }

    #script-save-dialog-buttons {
        .scriptButtons();
    }
}

#script-play-dialog {
    .scriptDialogs();

    #script-play-dialog-msg {
        .scriptText();
    }
    select {
        width: 100%;
    }

    #script-play-dialog-buttons {
        .scriptButtons();

    }
}

#script-import-dialog {
    .scriptDialogs();

    #script-import-dialog-dir {
        .scriptText();
        font-size: small;

    }

    #script-import-dialog-msg {
        .scriptText();
    }
    input {
        margin-bottom: 3px;
        .scriptText();
    }

    #script-import-dialog-buttons {
        .scriptButtons();
    }
}

#script-share-dialog {
    .scriptDialogs();

    #script-share-dialog-msg {
        .scriptText();
    }
    select {
        width: 100%;
    }

    #script-share-dialog-buttons {
        .scriptButtons();
    }
}
