<!-- FORGOT PASSWORD TEMPLATE
	@param header The text to display for the application's header.
	@param title The text to display for the pages title.
	@param secretQuestion The secret question.
	@param submitIcon The icon to display for the submit button.
	@param submit The text to display for the submit button.
	@param key A generated key to keep each input name unique.
-->
<script id="forgot-password-template" type="text/template">

	<header class="navbar navbar-inverse navbar-static-top navbar-primary">
		<div class="container-fluid">
            <div class="col-sm-3 header-item text-left">
            </div>
            <div class="col-sm-6 text-center">
                <h4 class="navbar-text">
                    <img src="./media/images/logo.png" height="25px"/>
                    <span>{{ header }}</span>
                </h4>
            </div>
            <div class="col-sm-3 header-item text-right">
            </div>
		</div>
	</header>

	<section class="navbar navbar-static-top navbar-secondary subheader">
	    <div class="container-fluid text-left">
	        <h4 class="navbar-text">{{ title }}</h4>
	    </div>
	</section>

	<div class="container-fluid">

			<p>{{ disabledLoginText }}</p>

			<p>{{ pleaseAnswerText }}</p>

			<p>{{ secretQuestion }}</p>

			<form data-ajax="false" autocomplete="off" autocorrect="off">
				<div class="form-group">
					<input type="text" class="form-control" name="secret_answer_{{ key }}" id="secret_answer" value="" autocomplete="off"/>
				</div>

				<p class="text-right text-underline"><a id="unlock-code">{{ unlockCode }}</a></p>
			</form>
	</div>

	<footer id="footer" class="footer">
	    <div class="multiple-btns">
	        <button id="back" class="btn btn-lg btn-primary nav-backward">
	            <span class="glyphicon glyphicon-menu-left"></span>
	            <span class="text">{{ back }}</span>
	        </button>

	        <button id="submit" class="btn btn-lg btn-primary nav-forward" disabled>
	            <span class="text">{{ submit }}</span>
	            <span class="glyphicon glyphicon-menu-right"></span>
	        </button>
	    </div>
	</footer>
</script>
