<!-- QUESTIONNAIRE COMPLETION TEMPLATE
    @param header The text to display for the application's header.
-->
<script id="questionnaireCompletion-template" type="text/template">

    <header class="navbar navbar-inverse navbar-static-top navbar-primary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 col-sm-2"></div>

                <div class="col-xs-8 col-sm-8 text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        {{ header }}
                    </h4>
                </div>

                <div class="col-xs-2 col-sm-2">
                </div>
            </div>
        </div>
    </header>

</script>
