<script id="spinner-template" type="text/template">

	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<!-- Body -->
			<div class="modal-body text-center">
				<h3>
                    <p><i class="fa fa-3x fa-spinner fa-pulse"></i></p>
                    <p>{{ text }}...</p>
                </h3>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->

</script>